* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.container {
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px;
}

.color-box {
    background-color: rgb(207, 155, 255);
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -1;
}

/*ヘッダーコンテンツ*/
#header {
    width: 100%;
    height: 58px;
    background-color: rgb(255, 255, 255);
}

#header .color-box.color-box.one {
    height: 80%;
    top: 50%;
    left: 0;
    transform: translate(-75%, -50%);
}

#header .list .color-box {
    height: 25%;
    transform: translate(-50%, -25%);
}

#header .header-move {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

#header .container {
    max-width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}

#header h1 {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -0.02em;
    position: relative;
}

#header .small {
    font-weight: 600;
    font-size: 16px;

}

#header .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    max-width: 700px;
    font-weight: 600;
}

#header .list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

#header .list-item a:hover {
    color: rgb(177, 94, 255);
    -webkit-text-stroke: 0.4px black;
}

.motif-link {
    display: inline-block;
    position: absolute;
    transform: translateX(-100%);
    /* ← これ重要 */
}

.motif-box {
    width: 138.69px;
    height: 58px;
}

/*メインタイトル*/
#main .title-texts {
    padding: 50px 0;
}

#main .title {
    font-size: 50px;
    text-align: center;
}

#main .text {
    font-size: 18px;
    text-align: center;
    padding-top: 18px;
}

/*学習コンテンツについて*/
.contents {
    padding-bottom: 80px;
}

.contents .title {
    padding: 0 0 20px 0;
    border-bottom: solid 1px rgb(200, 200, 200);
}

.contents .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    list-style: none;
}

.contents .item {
    margin-top: 20px;
    aspect-ratio: 1/1.2;
    border: solid 1px rgb(200, 200, 200);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contents .icon {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents i {
    font-size: 100px;
    color: rgb(207, 155, 255);
}

.contents .item-title {
    padding: 5% 0;
    margin: 0 5%;
    text-align: center;
    border-top: solid 1px rgb(200, 200, 200);
}

.contents .button {
    text-align: center;
    padding: 5% 10%;
    margin: 0 10%;
    border: solid 3px rgb(207, 155, 255);
    color: white;
    background-color: rgb(207, 155, 255);
}

.contents .button span {
    margin-left: 2px;
}

.contents .button:hover {
    color: rgb(207, 155, 255);
    background-color: white;
}

/*モーダルウィンドウ*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    /* 非表示中はクリック不可 */
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    width: 70vw;
    max-width: 840px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    border-radius: 7px;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal h2 {
    padding-bottom: 15px;
    border-bottom: solid 1px rgb(200, 200, 200);
}

.modal p {
    padding-top: 10px;
    line-height: 2;
}

/*フッター関連*/
#footer {
    width: 100%;
    height: 100px;
    background-color: #222;
    color: white;
}

#footer .title {
    text-align: center;
    font-weight: 300;
    padding: 10px 0;
}

#footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 300;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    text-decoration: underline;
}

/*フッターを下に持ってく用*/
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#space {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: 0;
}

/*メディアクエリの追加コンテンツ*/
.hbg-menu {
    height: 24px;
    width: 24px;
    margin-left: auto;
    display: none;
}

.hbg-line {
    display: block;
    border-bottom: solid 2px black;
    margin-top: 5px;
    border-radius: 1px;
    transition: 0.3s ease;
}

.hbg-menu.show :nth-child(1) {
    transform: rotate(45deg) translateY(5px);
}

.hbg-menu.show :nth-child(2) {
    display: none;
}

.hbg-menu.show :nth-child(3) {
    transform: rotate(-45deg) translateY(-5px);
}

.hbg-list {
    background-color: rgb(248, 248, 248);
    position: fixed;
    top: 58px;
    left: 0;
    list-style: none;
    width: 100vw;
    text-align: center;
    transition: transform 0.3s ease;
    z-index: 3;
    transform: translateX(100%);
}

.hbg-list.show {
    display: block;
    transform: translateX(0);
}

.hbg-list-item {
    padding: 7px 0;
    border-top: solid 1px rgb(200, 200, 200);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#header .hbg-list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

#header .hbg-list-item a:hover {
    color: rgb(177, 94, 255);
}

@media screen and (max-width:920px) {
    #header .list {
        display: none;
    }

    .hbg-menu {
        display: block;
    }

    .contents .list {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width:720px) {
    .contents .list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width:480px) {
    #main .text {
        font-size: 14px;
    }

    .contents .list {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding: 10px;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scrollbar-width: auto;
        width: 100%;
        max-width: none;
    }



    .contents .item {
        flex: 0 0 200px;
    }

    .modal-content {
        width: 85vw;
    }


    .modal p {
        line-height: 1.2;
        font-size: 14px;
    }
}